.footer {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &__logo {
        width: 300px;
        height: auto;
        display: flex;
        padding: 40px 0 40px;
    }
    &__list {
        display: flex;
        color: white;
        width: 400px;
        justify-content: space-between;
        svg {
            text-decoration: none;
            color: white;
            transition: fill 1s;
          }
          
          svg:hover {
            fill: #004369;
          }
          
          svg:focus,
          svg:active {
            fill: rgb(84, 8, 170);
            transition: none;
          }
        }
    }

